.top {
	padding: var(--space-xxl);
	display: flex;
	height: 100%;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: space-between;
}

.top_view_design {
	background-color: #E0E2E9;
}

.top_view_frontend {
	background-color: #E2E7D5;
}

.top_view_text {
	background-color: #EEECD5;
}

.top__type {
	background: var(--color-bg-ghost);
	margin-bottom: 16px;
	padding: 8px 16px;
	border-radius: 3px;
	display: inline-block;
}

.top__decription {
	margin-bottom: var(--space-xl);
}

.top__author {
	margin-bottom: var(--space-m);
}

.top__send {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-bg-ghost);
	color: #000000;
	border-radius: 4px;
}