.top {
  padding: 32px;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.top_view_design {
  background-color: #E0E2E9;
}

.top_view_frontend {
  background-color: #E2E7D5;
}

.top_view_text {
  background-color: #EEECD5;
}

.top_view_default {
  background-color: #FFFFFF;
}

.top__type {
  font-size: 13px;
  color: #fff;
  background:rgb(0, 152, 95);
  margin-bottom: 16px;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 3px;
  display: inline-block;
}

.top__type_view_design {
  background-color: #C1C7DC;
}

.top__type_view_frontend {
  background-color: #CAD0B5; 
}

.top__type_view_text {
  background-color: #D9D7C0;
}

.top__type_view_default {
  background-color: #A2D5DC;
}



.top__date {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

.top__author {
  margin-bottom: 16px;
  color: rgb(0, 112, 240);
}

.top__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.top__decription {
  font-size: 15px;
  margin-bottom: 16px;
}

.top__controls {

}

.top__send {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  color: #000000;
  border-radius: 4px;
}