.App {
	background-color: #f3f3f3;
}

.App__footer {
	padding-top: 100px;
}

.App__layout {
	width: 1171px;
	margin: auto;
	padding-bottom: 200px;
}

.App__manifest { 
	padding-top: 96px;
	margin-bottom: 72px;
}

.App__tabs { 
	padding-top: 96px;
}